MIREALSOURCE_USERNAME=mirkourhs
MIREALSOURCE_PASSWORD=YOUR_PASSWORD_HERE

# NextAuth Email Provider (Magic Links)
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=noreply@excellegacyrealty.com
